@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --txt1-color: #555;
}

ul {
    list-style: none;
}

.header-txt {
    color: #444;
    font-size: 1.3rem;
}

.header-txt-2 {
    color: #555;
    font-size: 1.14rem;
    font-weight: 600;
}


.sub-header-txt {
    color: #777;
    font-size: .9rem;
    font-weight: 500;
}

.txt2 {
    color: #777;
    font-size: .94rem;
    font-weight: 600;
}

.flex {
    display: flex;
}

.j-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.container {
    width: 88%;
    margin: auto;
}


body {
    background: #f0f2f3;
    font-family: Poppins;
}

nav {
    background: #fff;
    padding: .2rem 0;
    box-shadow: 0 0 10px #bebebe;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    gap: 1rem;
}

.logo {
    width: 30px;
}

.search-container {
    background: #e8e7e7;
    display: flex;
    align-items: center;
    padding: .3rem .8rem;
    gap: .5rem;
    border-radius: 20px;
}

.search-container img {
    width: 15px;
}

.search-container input {
    font-size: .87rem;
    font-family: inherit;
    border: none;
    outline: none;
    background: transparent;
    color: var(--txt1-color);
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-link li {
    list-style: none;
}

.nav-link li:first-child {
    margin-left: 0;
}

.nav-link li a {
    display: flex;
    align-items: center;
    gap: .1rem;
    color: var(--txt1-color);
    text-decoration: none;
    font-size: .9rem;
    font-weight: 500;
}

.nav-link li a img {
    width: 30px;
}

.nav-link li {
    padding-right: .4rem;
}

.nav-link li a {
    position: relative;
}

.nav-link li a:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 0;
    height: 2px;
    background: #0883e8;
    transition: width .3s;
}

.nav-link li a:hover::after,
.nav-link li .active-link::after {
    width: 100%;
}


.top-user-img {
    width: 38px;
    border-radius: 50%;
}

.online {
    position: relative;
    cursor: pointer;
}

.online::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 7px;
    height: 7px;
    background: #0262d0;
    border: 2px solid #fff;
    border-radius: 50%;
}

.user-dn {
    position: absolute;
    top: 50px;
    width: 330px;
    height: 0px;

    right: 0px;
    background: #000000e4;
    border-radius: 6px;
    /* padding: 1rem; */
    color: #fff;
    overflow: hidden;
    transition: .2s;
}

.user-dn.show {
    height: 390px;
}

.user-dn-container {
    padding: 1rem;
}

.user-dn-top {
    display: flex;
    gap: .5rem;
    border-bottom: 2px solid #8a8989;
    padding-bottom: .5rem;
}

.user-dn-user-img {
    width: 50px;
    border-radius: 50%;
}

.see-profile-link {
    font-size: .8rem;
    color: #ccc;
    text-decoration: none;
}

.see-profile-link:hover {
    text-decoration: underline;
}

.user-top-options {
    display: flex;
    flex-direction: column;
    /* gap: .2rem; */
    padding-top: 1rem;
}

.user-top-options i {
    font-size: .8rem;
    color: #999;
    /* font-weight: 500; */
}

.user-top-options li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    padding: .8rem;
    border-radius: 6px;

}

.user-top-options li:hover {
    background: #fefcfc23;
}

.user-top-options-left {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.user-option-img {
    width: 30px;
}


/* nav ends here */

.main {
    margin-top: 80px;
    display: flex;
    gap: 1.34rem;
    z-index: -1;
}

.left,
.right {
    flex: 1.5;
    position: sticky;
    top: 80px;
    align-self: flex-start;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    z-index: 5;
}

.left::-webkit-scrollbar,
.right::-webkit-scrollbar {
    display: none;
}

.center {
    flex: 3;
}


.create-post-container {
    padding: .6rem 0 0;
    overflow: hidden;
}

.create-post-top {
    display: flex;
    align-items: start;
    padding: 1rem;
    gap: .5rem;
}

.create-post-top img {
    width: 35px;
    border-radius: 50%;
}

.create-post-top textarea {
    width: 100%;
    height: 40px;
    padding: .2rem;
    font-family: Poppins;
    font-weight: 500;
    border: none;
    outline: none;
    color: #666666;
    resize: none;
}

.create-post-bottom {
    border-top: 1px solid #e1cccc;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

.create-post-bottom li {
    display: flex;
    align-items: center;
    gap: .3rem;
    border-right: 1px solid #e1cccc;
    text-align: center;
    justify-content: center;
    flex: 1;
    padding: .7rem 0;
    cursor: pointer;
    transition: .3s;
}

.create-post-bottom li:hover {
    background: #0262d0;
}

.create-post-bottom li:hover span,
.create-post-bottom li:hover i {
    color: #fff;
}

.create-post-bottom li:last-child {
    background: #0262d0;
    cursor: auto;
}

.create-post-bottom li:last-child span {
    color: #fff;
}

.create-post-bottom li img {
    width: 15px;
}

.create-post-bottom li span {
    font-size: .85rem;
    color: #817f7f;
    font-weight: 500;
}

.sort-container {
    text-align: right;
    position: relative;
    z-index: 10;
    margin-top: -1rem;
}

.sort-container p {
    font-size: .8rem;
    font-weight: 500;
    color: #888;
    background: #f0f2f3;
    display: inline-block;
    padding: .4rem .5rem;
}

.sort-container span {
    color: #666;
    font-weight: 700;
}

.sort-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #bfbfbf;
    z-index: -1;
}


/* POST styles */
.post-top {
    display: flex;
    gap: .5rem;
    align-items: start;
}

.post-top img {
    width: 40px;
    border-radius: 50%;
}

.post-user-name {
    color: #525151;
}

.post-user-info {
    font-size: .86rem;
    color: #888;
    font-weight: 500;
}

.post-body {
    margin-top: 1rem;
    margin-bottom: .4rem;
}

.post-txt {
    font-size: .88rem;
    color: #7a7a7a;
    font-weight: 500;
    margin-bottom: 1rem;
}

.post-img {
    width: 100%;
    object-fit: cover;
}

.reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    font-weight: 500;
    color: #777;
}

.reactions-left {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.reaction-imgs {
    display: flex;
    align-items: center;
}

.reaction-imgs img {
    width: 15px;
    margin-left: -.4rem;
}

.reaction-imgs img:first-child {
    margin-left: 0rem;
}

/* post footer */
.post-footer {
    border-top: 1px solid #cdc0c0;
}

.footer-reactions {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.footer-reactions li {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: .4rem;
}

.footer-reactions li span {
    font-size: .87rem;
    color: #666;
    font-weight: 600;
}

.reaction-img {
    width: 20px;
}

.footer-pro-pic {
    width: 25px;
    border-radius: 50%;
}




/* POST styles ends */



/* ============ */

.section {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.section-inner {
    padding: 0rem 1.5rem;
}

.cover-img img {
    width: 100%;
    border-radius: 5px 5px 0 0;

}

.profile-pic {
    width: 90px;
    border-radius: 50%;
    margin-top: -70px;
    border: 4px solid #fff;
}


.reviews {
    margin: 1.4rem 0;
    margin-bottom: .3rem;
    flex-direction: column;
    gap: .3rem;
    padding-bottom: 1.2rem;
}

.reviews p {
    font-size: .83rem;
    color: #808080;
    font-weight: 500;
}

.reviews span {
    color: #0262d0;
    font-weight: 600;
    font-size: .87rem;
}

.section-bottom {

    gap: 1rem;
    margin-top: .2rem;
}

.section-bottom-inner {
    flex: 1;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    font-size: .84rem;
    color: #666;
    padding: .5rem 0;
    font-weight: 500;
}

.section-bottom-inner img {
    width: 18px;
}

.section-bottom-inner:first-child {
    border-right: 1px solid #b2b2b2;
}

.listing img {
    width: 20px;
}

.listing {
    margin-top: .4rem;
}

.listing li {
    gap: .6rem;
    align-items: center;
    font-size: .8rem;
    color: #888;
    font-weight: 500;
    margin-bottom: .3rem;
}

.left-bottom {
    text-align: center;
    margin-top: 1.4rem;
}

.left-bottom a {
    color: #0838d4;
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    padding: .8rem;
}

hr {
    height: 1px;
    background: rgb(207, 200, 200);
    border: 0;
}

.s-1 {
    padding: 1rem 0 0;
}

.inner {
    padding: 1rem 1.3rem;
}

.section-header-img {
    width: 16px !important;
}

.news-container {
    padding: 1.9rem 0 .9rem;
}

.news p {
    color: #777;
    font-size: .76rem;
    font-weight: 700;
    line-height: .66rem;

}

.news span {
    font-size: .76rem;
    color: #888;
    font-weight: 500;
}

.news {
    margin-bottom: .8rem;
}

.news:last-child {
    margin-bottom: 0rem;
}

.more-btn a {
    color: #0262d0;
    font-size: .79rem;
    font-weight: 600;
    text-decoration: none;
}

.more-btn a:hover {
    text-decoration: underline;
}

.ad-top-right {
    text-align: right;
    color: #606060;
    font-size: .8rem;
}

.adv-main {
    text-align: center;
    flex-direction: column;
    gap: .8rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.imgs img {
    width: 60px;
    border-radius: 50%;
}

.imgs img:last-child {
    margin-left: .6rem;
}

.adv-main p {
    font-size: .76rem;
    color: #666;
    font-weight: 500;
}

.adv-main p:last-child {
    font-size: .78rem;
    color: #666;
    font-weight: 700;
}

.adv-btn {
    outline: none;
    border: 2px solid #0262d0;
    color: #0262d0;
    border-radius: 18px;
    padding: .3rem 1rem;
    font-family: inherit;
    font-weight: 500;
    font-size: .78rem;
    margin-top: .6rem;
    background: transparent;
    transition: .3s;
    cursor: pointer;
}

.adv-btn:hover {
    color: #fff;
    background: #0262d0;
}

.footer-links {
    padding: 1rem;
    text-align: center;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem .5rem; */
}

.footer-links a {
    text-decoration: none;
    color: #777;
    font-size: .85rem;
    padding: 2rem .2rem;
    font-weight: 500;
}




/* ==================================================================================================================================== */
/* ==================================================================================================================================== */
/* ==================================================================================================================================== */


/* profile page starts */

.txt1 {
    font-size: 1.9rem;
    color: #393939;
}

.txt2 {
    font-size: 1rem;
    color: #7e7d7d;
}

.txt3 {
    font-size: .98rem;
    color: #878686;
    font-weight: 500;
    padding-top: .1rem;
}

.profile-section-header-txt {
    font-size: 1.5rem;
    color: #393939;
}

.about-txt {
    font-size: 1.04rem;
    color: #6a6a6a;
    margin-top: 1.1rem;
}

.about-txt span {
    /* font-size: 1.04rem;
    color: #6a6a6a;
    margin-top: 1.1rem; */
    text-align: right;
    display: block;
}

.profile-pic.profile-top {
    width: 150px !important;
    margin-top: -110px;
}

.profile-inner-section {
    padding: 1.5rem 2.3rem;
}

.profile-btns .btn-1:last-child {
    margin-left: .8rem;
}

.conn-btn,
.msg-btn {
    padding: .35rem .7rem;
    font-family: inherit;
    border: none;
    border-radius: 3.5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: color, background .3s;
}

.btn-1 i {
    font-size: .9rem;
}

.conn-btn {
    background: #1446eb;
}

.conn-btn:hover {
    background: #2a2a2a25;
    color: #333;
}

.msg-btn {
    background: #2a2a2a25;
    color: #3a3a3a;
}

.msg-btn:hover {
    background: #1446eb;
    color: #f1eaea;
}

.profile-main {
    display: flex;
    gap: 1.5rem;
    margin-top: 85px;
}

.profile-left {
    flex: 2.7;
}

.profile-right {
    flex: 1;
}

.link-green {
    color: #0f3eda;
    font-weight: 500;
    text-decoration: none;
}

.connection-info {
    display: flex;
    gap: .5rem;
    margin: 1.25rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: #777;
}

.connection-info img {
    width: 25px;
    border-radius: 50%;
}

.experience li {
    display: flex;
    align-items: start;
}

.experience-img {
    width: 40px;
}